@charset "UTF-8";
body {
	margin: 0px;
	padding: 0px;
}

#siteLoginArea{
	position: fixed;
	width: 370px;
	right: 40px;
	top: 25px;
}

.headerBox1 {
	position: relative;
	float: left;
	width: 280px;
	line-height: 40px;
}
.headerBox2 {
	position: relative;
	float: left;
	left: -10px;
	width: 80px;
	text-align: right;
	line-height: 40px;
}


.headerBox3 { /* 로그인성공시 */
	position: relative;
	right: 30px;
	width: 500px;
	line-height: 40px;
	color: #3E6C83;
	font-weight: 600;
	
	/* border: black solid 1px; */
}

.loginBox {
	border: #FF9969 solid 1px;
	background: #EEE4E1;
	width: 80px;
	height: 20px;
	outline: none;
	text-align: center;
}
.loginBox::placeholder {
	color: #DD7E51;
	font-size: 10pt;
}
	
.headerBtn {
	border: #FF9969 solid 1px;
	background: #FF9969;
	width: 80px;
	height: 24px;
	outline: none;
	color: #F6F0EE;
	font-size: 11pt;
	font-weight: 600;
}
	
.headerBtn:hover {
	cursor: pointer;
}

.loginMemberImg {
	max-width: 30px;
}

