@charset "UTF-8";
.joinTitle{
	font-size: 50pt;
	color: black;
	text-align: center;
	height: 80px;
}
.bigJoinBox{
	width: 910px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	
}
.joinBox{
	width: 910px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
}
fieldset {
	margin-top: 5px;
	margin-left: 0px;
	border: black solid 2px;	
	width: 900px;
	padding-bottom: 5px; 
	margin-bottom: 10px;
}

#fieldLegend {
	font-size: 40pt;
}
#h_picField {
	height: 200px;
}

#h_nicknameBT, #h_nicknameBT:hover, #h_emailaddrBT, #h_emailaddrBT:hover {
	outline: none;
	cursor: pointer;
	width:115px;
	border: black dotted 2px;
	font-size : 20pt;
	align-content:center;
	margin-left: 750px;
	margin-bottom: 20px;
}
.joinBox input {
	width: 400px;
	height: 50px;
	margin-bottom: 10px;
    font-size: 25pt;
	color: #878787;
	line-height: 12pt;
	padding-left: 10px;
}


#h_emailaddr2 {
    background: url("resources/img/select_pointer.png") no-repeat ;
	background-color: white;
	width: 350px;
	height: 50px;
	padding-left: 10px;
	padding-right: 20px;
    font-size: 25px;
    border: black dotted 2px;
	color: #878787;
	line-height: 36px;
    border-radius: 0px; 
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    align-content: center;

}

select::-ms-expand {
    display: none;
}

#radio_g1, #radio_g2, #radio_g3 {
	font-size: 25pt;
	line-height: 30px;
	width: 150px;
	height: 30px;
	text-align: left;
}
#radio_k1, #radio_k2, #radio_k3, #radio_k4, #radio_k5, #radio_k6 {
	font-size: 25pt;
	line-height: 30px;
	width: 150px;
	height: 30px;
	text-align: left;
}
.joinBox button {
	width: 250px;
	height: 100px;
	background-color: #5b94ea;
	color: white;
	font-size: 35pt;
	outline: none;
	border: none;
	transition: all 1s ease;
}
.joinBox button:hover{
	cursor: pointer;
	text-decoration: underline;
	background-color: #0751cc;
}












